// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import '../node_modules/bootstrap/scss/bootstrap';

// Then add additional custom code here

:root {
  --bs-body-color: #333;
  --bs-body-color-rgb: 51, 51, 51;
  --bs-font-sans-serif: Arial, Helvetica, sans-serif;
  --bs-secondary-rgb: 68, 81, 98;
  --bs-secondary-bg-rgb: 235, 235, 235;
  --bs-secondary-color: #445161;
  --bs-secondary-color-rgb: 68, 81, 97;
  --bs-tertiary-bg-rgb: 245, 245, 245;
  --bs-tertiary-color: #989898;
  --bs-tertiary-color-rgb: 152, 152, 152;
  --bs-light-rgb: 255, 255, 255;
  --bs-link-color: #333;
  --bs-link-color-rgb: 51, 51, 51;
  --bs-link-hover-color: #333;
  --bs-link-hover-color-rgb: 51, 51, 51;
}

.btn {
  font-weight: bold;
}

.btn-light {
  --bs-btn-color: #445161;
  --bs-btn-bg: #fff;
  --bs-btn-border-color: #fff;
}

.bg-secondary {
  :where(a:not(.btn)) {
    color: rgb(var(--bs-light-rgb));
  }

  .product {
    &__list-item {
      &::before {
        background: url('../images/icons/ico-arrow.png') no-repeat;
        background-size: 100%;
      }
    }
  }
}

p {
  margin-bottom: 0.69rem;
}

a:hover {
  text-decoration: none;
}

.container-xxl {
  max-width: 1204px;
}

.form-control {
  padding: 0.45rem 0.5rem;
}

.page-title {
  font-size: clamp(2.25rem, 0.8438rem + 4.6875vw, 3.75rem);
  font-weight: normal;
  margin-bottom: clamp(0.875rem, -0.3555rem + 4.1016vw, 2.1875rem);
}

.subtitle {
  font-size: clamp(1.5rem, 1.1484rem + 1.1719vw, 1.875rem);
  font-weight: normal;
  margin-bottom: clamp(1rem, 0.5898rem + 1.3672vw, 1.4375rem);
}

.product {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 1.125rem;

  @media (min-width: 576px) {
    font-size: 1.25rem;
    padding-top: 37px;
    padding-bottom: 42px;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__list-item {
    margin-bottom: 6px;
    position: relative;
    padding-left: 26px;

    @media (min-width: 576px) {
      padding-left: 36px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 7px;
      left: 0;
      width: 18px;
      height: 13px;
      background: url('../images/icons/ico-arrow-dark.png') no-repeat;
      background-size: 100%;

      @media (min-width: 576px) {
        top: 5px;
        width: 25px;
        height: 19px;
      }
    }
  }
}

.block {
  padding-top: 25px;
  padding-bottom: 25px;

  @media (min-width: 576px) {
    padding-top: 41px;
    padding-bottom: 50px;
  }

  &:has(.review) {
    padding-bottom: 10px;

    @media (min-width: 576px) {
      padding-bottom: 36px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: clamp(2.5rem, -4.1667rem + 13.8889vw, 6.25rem);
  }

  &__image {
    text-align: center;

    @media (min-width: 768px) {
      order: 2;
      text-align: right;
      width: 37%;
      flex-shrink: 0;
      padding-top: 7px;
    }
  }

  &__text {
    @media (min-width: 768px) {
      order: 1;
    }
  }
}

.dignity-list {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    position: relative;
    padding-left: 35px;
    margin-bottom: 16px;

    @media (min-width: 576px) {
      padding-left: 42px;
      margin-bottom: 27px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '+';
      position: absolute;
      top: 7px;
      left: 0;
      width: 26px;
      height: 26px;
      font-size: 30px;
      line-height: 26px;
      font-weight: bold;
      text-align: center;
      background-color: var(--bs-secondary-color);
      color: rgb(var(--bs-light-rgb));

      @media (min-width: 576px) {
        width: 32px;
        height: 32px;
        font-size: 40px;
        line-height: 30px;
      }
    }
  }
}

.scrinshots {
  padding-bottom: 1px;

  @media (min-width: 576px) {
    padding-bottom: 20px;
  }
}

.box-title {
  font-size: clamp(1.25rem, 1.0156rem + 0.7813vw, 1.5rem);
  font-weight: normal;
  margin-bottom: 9px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-top: 7px;

  @media (min-width: 576px) {
    flex-direction: row;
  }

  &__holder {
    width: 75px;
    margin: 0 auto;

    @media (min-width: 576px) {
      margin: 0;
    }
  }

  &__img {
    border-radius: 50%;
  }

  &__text {
    flex: 1;
    font-size: 0.875rem;
    line-height: 1.3;
    font-style: italic;
    padding: 12px 16px;
    margin: 0;
    border-radius: 3px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: -8px;
      margin-left: -10px;
      width: 20px;
      height: 20px;
      transform: rotate(45deg);
      background-color: rgb(var(--bs-secondary-bg-rgb));

      @media (min-width: 576px) {
        left: -8px;
        top: 28px;
        margin-left: 0;
      }
    }
  }

  &__author {
    display: block;
    padding-top: 7px;
    font-style: normal;
    color: var(--bs-tertiary-color);
  }
}

.prices {
  .container-xxl {
    max-width: 1034px;
  }
}

.price-box {
  padding: 10px 2px 21px;
  margin: 7px auto 0;
  max-width: 304px;

  .box-title {
    margin-bottom: 14px;
  }

  &__price {
    background-color: #fff;
    color: var(--bs-secondary-color);
    font-size: 40px;
    line-height: 60px;
    padding: 0 7px 7px;
    font-style: normal;
    text-align: center;
    border: none;
    width: 100%;
    margin-bottom: 7px;
    position: relative;

    &::after {
      --border: 2px solid rgb(var(--bs-secondary-rgb));

      content: '';
      position: absolute;
      top: 22px;
      right: 14px;
      width: 12px;
      height: 12px;
      border-right: var(--border);
      border-bottom: var(--border);
      transform: rotate(45deg);
      transition: all 0.3s;

      @media (min-width: 768px) {
        display: none;
      }
    }

    &[aria-expanded='true'] {
      &::after {
        transform: rotate(225deg);
        top: 27px;
      }
    }
  }

  &__list {
    font-size: 0.875rem;
  }

  &__btn {
    display: block;
    margin-top: 15px;
    font-size: 1.125rem;
  }
}

.numbered-list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: item;

  &__item {
    padding-bottom: 3px;

    &::before {
      content: counters(item, '.') '. ';
      counter-increment: item;
    }
  }
}

.contacts__btn {
  min-width: 140px;
}

.contacts-list {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    padding: 0 0 19px 28px;
    position: relative;
  }

  &__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__skype,
  &__icq,
  &__email,
  &__phone {
    &::before {
      content: '';
      width: 26px;
      height: 26px;
      position: absolute;
      top: -1px;
      left: 0;
      background-size: 100%;
    }
  }

  &__skype::before {
    background-image: url('../images/icons/ico-skype.png');
  }

  &__icq::before {
    background-image: url('../images/icons/ico-icq.png');
  }

  &__email::before {
    background-image: url('../images/icons/ico-email.png');
  }

  &__phone::before {
    background-image: url('../images/icons/ico-phone.png');
  }
}

.socials {
  padding: 4px 0 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 6px;

  &__link {
    display: block;
    width: 43px;
    height: 42px;
    text-indent: -9999px;
    overflow: hidden;
    border-radius: 50%;
    transition: opacity 0.3s;
    background-size: 100%;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &__twitter {
    background-image: url('../images/icons/ico-twitter.png');
  }

  &__facebook {
    background-image: url('../images/icons/ico-facebook.png');
  }

  &__linkedin {
    background-image: url('../images/icons/ico-linkedin.png');
  }

  &__google {
    background-image: url('../images/icons/ico-google.png');
  }

  &__youtube {
    background-image: url('../images/icons/ico-youtube.png');
  }
}

.footer {
  font-size: 0.75rem;
}
